.dashboard-container{
    margin-top: 70px;
    width: 100%;
    position: relative;
}

.dashboard-container .sidebar{
    overflow: auto;
    padding-bottom: 30px;
    width: 250px;
    position: fixed;
    top: 70px ;
    left: 0 ;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid gainsboro;
    height: 100%;
    transition: all .5s ease;
}

.dashboard-container .sidebar  ul li:nth-child(odd) svg{
    color: var(--blue-color-1);
}
.dashboard-container .sidebar  ul li:nth-child(even) svg{
    color: var(--pink-color-1) !important;
}
.dashboard-container .sidebar  ul li:nth-child(3n) svg{
    color: rebeccapurple !important;
}

.dashboard-container .toggler{
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.dashboard-container .toggler svg {
    font-size: 30px;
    color: var(--orange-color-1);
    cursor: pointer;
    background-color: white;
}

.dashboard-container .sidebar .sidebar-links{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.dashboard-container .sidebar .username{
    /* height: 50px; */
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid gainsboro;

}

.dashboard-container .sidebar ul{
    list-style: none;
}

.dashboard-container .sidebar ul li{
    display: flex;
    align-items: center;
    padding: 10px ;
    margin-bottom: 3px;
    cursor: pointer;
    user-select: none;
}

.dashboard-container .sidebar button{
    padding: 10px 40px;
    /* background: var(--blue-color-1); */
    font-weight: bold;
    font-size: 14;
    background: transparent;
    border-radius: 5px;
    margin: 15px auto 0;
    outline: none;
    margin-left: auto;
    border: 1px solid var(--blue-color-1);
    cursor: pointer;

}

.dashboard-container .sidebar svg{
    margin-right: 10px;
}
.dashboard-container .sidebar ul li.active{
    background: var(--blue-color-1);
    color:#000;
    padding-left: 7px;
    border-left: 3px solid var(--pink-color-1);
}

.dashboard-container .sidebar ul li.active svg{
    color :white;
}

.dashboard-container .sidebar ul li.active:hover{
    background: var(--blue-color-1);
}

.dashboard-container .sidebar ul li:hover{
    background-color: rgba(33, 203, 243, .4);
}
.dashboard-container .main{
    transition: all .5s ease;
    position: relative;
    margin-left: 260px;
    left: 0;
    flex-grow: 1;
}

.dashboard-container .main .toggler{
    position: fixed;
    width: 50px;
    left: -10px;
    top: 65px;
    z-index: 1;
    height: 50px;
}

@media screen and (max-width: 900px) {
    .dashboard-container .toggler{
        display: flex;
    }
    .dashboard-container .main{
        margin-left: 0px;
        transition: all .5s ease;
    }
    .dashboard-container .sidebar{
        left: -100%;
        transition:  all .5s ease;
        /* overflow: hidden; */
    }

    .dashboard-container .main#adjust-left{
        left: 250px;
    }
    .dashboard-container .sidebar#adjust-left{
        left: 0;
    }
}
@media screen and (max-width: 460px) {
    .dashboard-container .main#adjust-left{
        left: 250px;
    }




}