
.electricity-component-container .progress{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-between;
    padding: 20px 50px;
    margin-bottom: 50px;
    text-align: center;
}

.electricity-component-container .progress > div > div{
    width: 100%;
    height: 5px;
    border-radius: 2px;
    border: 1px solid rebeccapurple;
    margin-top: 4px;
}

.electricity-component-container .progress > div > div.active{
    background-color: rebeccapurple;
    /* background-color: var(--orange-color-1); */
}
.electricity-component-container .electricity {
    width: min(600px, 90%);
    margin-right: auto;
    margin-left: auto;
}

.electricity-component-container .electricity > h1,
.electricity-component-container .electricity > p{
    text-align: center;
}

.electricity-component-container .electricity form{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}

.electricity-component-container .electricity form > div{
    display: flex;
    flex-direction: column;
}

.electricity-component-container .electricity form label{
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.electricity-component-container .electricity form input,
.electricity-component-container .electricity form select{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 12px 10px;
}

.electricity-component-container .electricity form input:focus,
.electricity-component-container .electricity form select:focus{
    outline: 1px solid var(--blue-color-1);
}
.electricity-component-container .electricity button{
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    background:linear-gradient(10deg,var(--blue-color-1),var(--blue-color-2));
    color: white;
    margin-inline: auto;
    border: none;
    grid-column: span 2;
}

.electricity-component-container .make-payment{
    width: min(800px, 90%);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.electricity-component-container .make-payment h1{
    text-align: center;
    margin-bottom: 50px;
}
.electricity-component-container .make-payment > div{
    display: flex;
    justify-content: space-between;
}

.electricity-component-container .make-payment .supplied-info > div{
    margin-bottom: 20px;
}

.electricity-component-container .make-payment .supplied-info > div p:first-of-type{
    font-weight: bold;
}
.electricity-component-container .make-payment .supplied-info > div p:last-of-type{
    font-size: 13px;
    opacity: .8;
}

.electricity-component-container .make-payment .payment-mode .card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.electricity-component-container .make-payment .payment-mode .card select{
    width: max(100%, 200px);
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-top: 3px;
    padding: 10px 10px;

}

.electricity-component-container .make-payment .payment-mode .other-options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px ;
    margin-bottom: 50px;
} 

.electricity-component-container .make-payment .payment-mode .other-options p{
    padding: 7px 10px  ;
    border: none;
    border: 1px solid var(--blue-color-1);
    cursor: pointer;
    font-size: 13px;
}

.electricity-component-container .make-payment .payment-mode .buttons{
    display: flex;
    justify-content: space-between;
}
.electricity-component-container .make-payment .payment-mode .buttons button{
    padding: 10px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

.electricity-component-container .make-payment .payment-mode .buttons button:first-of-type {
    border: 1px solid var(--blue-color-1);
    background-color: transparent;
}
.electricity-component-container .make-payment .payment-mode .buttons button:last-of-type  {
    background-color: var(--blue-color-1);
    color: white;
}

@media screen and (max-width:900px) {
    .electricity-component-container .progress{
        padding: 40px 10px 20px ;
        margin-left: 30px;
    }
    .electricity-component-container .progress p{
        line-height: 16px !important;
    }
}
@media screen and (max-width:800px) {
    .electricity-component-container .make-payment .payment-mode .other-options p{
        padding: 7px 5px;
        text-align: center;
    }
}

@media screen and (max-width:630px) {
    .electricity-component-container .make-payment > div{
        flex-direction: column;
        gap: 40px;
    }
    .electricity-component-container .make-payment .supplied-info{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .electricity-component-container .make-payment .payment-mode .buttons button{
        width: 125px;
        text-align: center;
        padding: 15px;
    }
}

@media screen and (max-width:530px) {
    .electricity-component-container .make-payment h1{
        margin-bottom: 25px;
    }
    .electricity-component-container .electricity form{
        display: flex;
        flex-direction: column;
    }
    .electricity-component-container .electricity{
        width: 95%;
    }
}

@media screen and (max-width: 435px) {
    .electricity-component-container .make-payment .payment-mode .other-options{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}