.airtime-container{
    margin-top: 100px;
    width: min(1100px, 95%);
    margin-inline: auto;
}
.airtime-container > p,
.airtime-container > h2{
    text-align: center;
}
.airtime-container h2{
    margin-bottom: 10px;
}
.airtime-container .airtime-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px  ;
    padding: 50px;
    background:rgba(32, 205, 243, .2);
    margin-top: 50px;
    margin-bottom: 80px;
}

.airtime-container .airtime-services > div{
    display: flex;
    align-items: center;
    border: 1px solid orange;
    padding: 20px;
    border-radius: 5px;
}

.airtime-container .airtime-services > div p{
    line-height: 20px !important;
}

.airtime-container .airtime-services > div img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.airtime-container .airtime-services > div > div p:first-of-type{
    font-weight: bold;
}

.airtime-container .airtime-services > div > div p:last-of-type{
    font-size: 13px;
}

@media screen and (max-width: 930px) {
    .airtime-container .airtime-services{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 20px;
        gap: 40px 25px;
    }
}

@media screen and (max-width: 630px) {
    .airtime-container .airtime-services{
        grid-template-columns: 1fr;
        padding: 30px 15px;
        gap: 35px ;
    }
    .airtime-container .airtime-services > div{
        padding: 20px 10px;
    }
}
