.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid gainsboro;
    background-color: #f7f8f9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container .logo{
    margin-top: 32px;
}

.header-container .logo img{
    width: 150px;
    height: 45px;
}

.header-container .nav-links ul{
    display: flex;
}

.header-container .nav-links ul li{
    padding: 10px 20px;
    list-style: none;
}

.header-container .nav-links ul li a{
    transition: all .5s ease;
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
}

.header-container .nav-links ul li a::after{
    width: 100%;
    position: absolute;
    top: 23px;
    left: 0;
    display: block;
    background: var(--orange-color-1);
    height: 2px;
    content: '';
    transition: .7s all ease;
    transform: scale(0);
}

.header-container .nav-links ul li a:hover{
    
    transition: all .7s ease;
}

.header-container .nav-links ul li a:hover::after{
    width: 100%;
    transform: scale(1);
    transition: all .5s ease;
}

.header-container .nav-links ul li a.active::after{
    width: 100% !important;
    transform: scale(1);
}
.header-container .nav-links ul li a.active{
    font-weight: bold;
    
}


.header-container .toggler{
    display: none;
}

.header-container .mobile-links{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0px;
    transition:all 1s ease;
    background-color: var(--blue-color-1);
    overflow: hidden;
}
.header-container .mobile-links ul{
    padding: 0 20px;
    margin-top: 7px;
}
.header-container .mobile-links ul li{
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-container .mobile-links ul li a{
    color : white;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 19px;
}

.header-container .toggler img{
    border-radius: 0 !important;
    filter: invert(1);
    height: 20px;
    width: 27px;
    cursor: pointer;
    filter: invert(68) sepia(18) saturate(7428%) hue-rotate(159deg) brightness(108%) contrast(91%);
}

.header-container .MuiSvgIcon-root{
    fill:var(--blue-color-1);
    font-size: 40px !important;
}

@media screen and (max-width: 1050px) {
    .header-container{
        padding: 0 20px;
    }
    .header-container .nav-links ul li{
        padding: 10px 17px;
    }
}

@media screen and (max-width: 780px) {
    .header-container .toggler{
        display: flex;
        align-items: center;
    }
    .header-container .right{
        display: none;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

}
