.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid gainsboro;
    background-color: #f7f8f9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container .logo{
    margin-top: 32px;
}

.header-container .logo img{
    width: 150px;
    height: 45px;
}

.header-container .nav-links ul{
    display: flex;
}

.header-container .nav-links ul li{
    padding: 10px 20px;
    list-style: none;
}

.header-container .nav-links ul li a{
    transition: all .5s ease;
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
}

.header-container .nav-links ul li a::after{
    width: 0%;
    position: absolute;
    top: 23px;
    left: 0;
    display: block;
    background: var(--orange-color);
    height: 2px;
    content: '';
}

.header-container .nav-links ul li a:hover{
    
    transition: all .5s ease;
}

.header-container .nav-links ul li a:hover::after{
    width: 100%;
    transition: all .5s ease;
}

.header-container .nav-links ul li a.active::after{
    width: 100% !important;
}
.header-container .nav-links ul li a.active{
    font-weight: bold;
}






.header-container .toggler{
    display: none;
}

.header-container .mobile-links{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 240px;
    transition:left .5s ease;
    background: rgba(0, 0, 0, .95);
    background-color: var(--orange-color);
    background-color: var(--blue-color);
    opacity: .95;
}
.header-container .mobile-links ul{
    padding: 0 20px;

}
.header-container .mobile-links ul li{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-container .mobile-links ul li a{
    color : black;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: large;
}

.header-container .toggler img{
    border-radius: 0 !important;
    filter: invert(1);
    height: 22px;
    width: 30px;
    cursor: pointer;
}

.header-container .toggler .close-icon{
    filter: unset;
}


@media screen and (max-width: 780px) {
    .header-container .toggler{
        display: flex;
    }
    .header-container .right{
        display: none;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
    }

}
@media screen and (max-width: 500px) {
    .header-container {
        padding: 0 10px;
    }
}