.footer-container{
    padding-inline: clamp(10px, 3.
    , 200px);
    background-color: #111621;
    color: white;
}
.footer-container .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}
.footer-container .footer .logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-container .footer .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
} 
.footer-container .footer .links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container .social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-container .social img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.footer-container .social div{
    display: flex;
    align-items: center;
}
.footer-container .other-links{
    display: flex;
    white-space: nowrap;
   margin: 20px 0;
    justify-content: center;
}
.footer-container .copyright{
    margin-top: 20px;
}
.footer-container a{
    font-size: 18px;
}

@media screen and (max-width: 880px) {
    .footer-container a{
        font-size: 16px;
    }
}
@media screen and (max-width: 880px) {
    .footer-container .footer .social,
    .footer-container .footer .other-links,
    .footer-container .footer .terms-condition{
        align-items: center;
        flex-direction: column;
    }
}