*, *::after, *::before{
  font-family:'Futura Medium' !important;
  letter-spacing: 1.9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
  --blue-color-1:#21cbf3;
  --blue-color-2:#2196F3;
  --pink-color-1:#ff0058;
  --pink-color-2:#ff4797;
  --orange-color-1:#ffbd60;
  --orange-color-2:#FF8383;
  --green-color-1:#06ffb2;
  --green-color-2:#02ff40;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('./assets/fonts/futura/futura\ medium\ bt.ttf');
}

@font-face {
  font-family: 'Futura Bold';
  src: url('./assets/fonts/futura/Futura\ Bold\ font.ttf');
}

.futura-bold{
  font-family: 'Futura Bold';
}
.futura-medium{
  font-family: 'Futura Medium';
}

body{
  background-color: #f7f8f9;
}